body {
    font-family: sans-serif;
    margin: 20px;
}

h1 {
    font-size: 24px;
    margin-top: 0;
}

p {
    margin-bottom: 10px;
}

.container {
    max-width: 700px;
    margin: 0 auto;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

.btn:hover {
    background-color: #0069d9;
}

#opcoes {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

#opcoes:hover {
    border-color: #999;
}

.input-uppercase {
    text-transform: uppercase;
}

.erro {
    color: red;
    font-weight: bold;
    padding: 10px;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    animation: erro-shake 0.5s ease-in-out infinite;
}

@keyframes erro-shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

.informacao {
    color: rgb(202, 158, 15);
    font-weight: bold;
    padding: 10px;
    border: 1px solid rgb(202, 158, 15);
    border-radius: 5px;
    text-align: center;
    animation: informacao-pulse 0.5s ease-in-out infinite;
}

@keyframes informacao-pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

.sucesso {
    color: green;
    font-weight: bold;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    text-align: center;
    animation: sucesso-scale 0.5s ease-in-out infinite;
}

@keyframes sucesso-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}